userfiles/GTASAsf1.b
userfiles/GTASAsf2.b
cleo.log
modloader/GPS Redux/SA.GPS.LOG.txt
modloader/modloader.log
scripts/RepairGTA.log
/text
*.gxt
/ReadMe
installscript.vdf
ogg.dll
/stream.ini
eax.dll
/anim
/audio
/data
/models
*.log
/movies
userfiles/GTASAsf3.b
userfiles/GTASAsf4.b
userfiles/GTASAsf6.b
